<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout :: areas(~{::title},~{::main})}">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- Optional theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>

</head>
<body>
<main>
    <div class="container">
        <form th:action="@{/assignment/chart}" method="get">
            <select name="top" id="">
                <option value="Top" th:selected="${param.top == 'Top'}">Bán chạy nhất</option>
                <option value="Low" th:selected="${param.top == 'Low'}">Tồn lâu nhất</option>
            </select>
            <input type="date" name="date" th:value="${param.date}">
            <button>Tìm</button>
        </form>
    </div>
    <div class="container">
        <h2 align="center">Line Graph</h2>

        <div id="container"
             style="width: 550px; height: 400px; margin: 0 auto"></div>
    </div>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script th:inline="javascript">
        $(function () {
            Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Top 10 sản phẩm'
                },
                subtitle: {
                    text: 'Biểu đồ cột'
                },
                xAxis: {
                    categories: [[${surveyMap.keySet()}]],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    max: 1000,
                    title: {
                        text: 'Số lượng sản phẩm'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'Quantity',
                    data: [[${surveyMap.values()}]]
                }]
            });
        });
    </script>
</main>
</body>
</html>